.example-card{
    width: 20%;
    margin: auto;
    margin-top: 10%;
    opacity: .9;
    background-color: rgb(101, 81, 109);
    text-align: center;
    height: 380px;
    background-image: url("/assets/images/geng.gif");
    top: -50px;
    
   
}

#button{
    background-color:#4d2752;
    top: 50px;
    width: 100%;
    font-weight: bold;
    font-size: 17px;
    
}

.example-full-width{
    width: 100%;
    top: 40px;
    

}

.ui-binary-input-login-remeber-me {
    display: flex;
    justify-content: flex-start;
    position: relative;
    top: 90px;
    font-size: 15px;
    color: white;
    font-weight: bold;
    
}

.card{
    display: inline;
    font-family: myfont;
}

@font-face {
    font-family: myfont;
    src: url("/assets/images/Provicali.otf");
}